<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta name="portview" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        <title>Entry page</title>
        <link rel="stylesheet" href="static/entry_style.css">
    </head>
    <body>
        <form class="box" method="post" action="/search4">
            <h2>Welcome to search4letter on the web!</h2>
            <table>
                <p>Use this form to submit a search request: </p>
                <tr><td><b>Phrase: </b></td><td><input type="text" name="phrase" width="60"></td></tr>
                <tr><td><b>Letters: </b></td><td><input type="text" name="letters" value="aeiou"></td></tr>
            </table>
            <p>When you're ready, click this button: </p>
            <p><input type="submit" value="Do it!"></p>
        </form>
    </body>
</html>